*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* .box{
    width: 300px;
    height: 300px;
    background: grey;
    color: white;
    padding-top: 100px;
} */


/* .container{
    width: 100%;
    height: 300px;
    background: gold;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
} */


/* .item{
    width: 30%;
    height: 40%;
    background: gray;
    margin: 10px 20px;
    color: white;
    font-size: 100px;
    font-weight: bolder;
} */

/* 
.header{
    width: 100%;
    height: 600px;
    background: url("../img/banner_bg.jpg.webp");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(00, 00, 00, 0.5);

}

.content {
    width: 40%;
    height: 30%;
    background: gold;
    z-index: 1;

} */


/* .gallary{
    width: 90%;
    height: 400px;
    margin:100px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,200px);
    gap: 10px 10px;
}

.img:nth-child(1){
    background: red;
    grid-column: 1/3;
    grid-row: 1/3;
    background: url("../img/xgallery4.png.pagespeed.ic.eeH-radW60.webp");
    background-size: cover;
}

.img:nth-child(2){
    background: blue;
    grid-row: 1/3;
    background: url("../img/xgallery2.png.pagespeed.ic.R67GzIjQgh.webp");
}

.img:nth-child(3){
    background: green;
    background: url("../img/xgallery3.png.pagespeed.ic.38W7JPYvku.webp");
}

.img:nth-child(4){
    background: gray;
    background: url("../img/xgallery1.png.pagespeed.ic.RiMoEHAQJU.webp");
    background-size: cover;
} */


/* .navbar{
    width: 90%;
    height: 80px;
    background: gold;
    margin: auto;
    display: flex;
    justify-content: space-between;
}



.navbar-logo{
    width: 30%;
    height: 100%;
    background: gray;
}
.navbar-logo img {
    height: 100%;
} */

/* .navbar-links{
    width: 40%;
    height: 100%;
    background: brown;
} */


/* .navbar-links ul li {
    float: left;
    margin-left: 7%;
    margin-top: 5%;
    list-style-type: none;
    
} */

/* .navbar-links ul li a {
    text-decoration: none;
    color: white;
} */


/* .box{
    width: 100%;
    height: 600px;
    background: rgb(31, 31, 58);
    display: flex;
    justify-content: center;
    align-items: center;
} */


/* .box h1{
    font-size: 140px;
    -webkit-text-stroke:0.9px rgba(154, 154, 154, 1);
    -webkit-text-fill-color: transparent;
} */
/* 
.container{
    width: 100%;
    height: 400px;
    background: gold;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item{
    width: 30%;
    height: 45%;
    background: gray;
    margin-left: 1%;
    margin-top: 1%;
}

@media (min-width:700px) and (max-width:900px){
    .item{
        width: 40%;
        height: 45%;
        background: gray;
        margin-left: 1%;
        margin-top: 1%;
    }
}

  */
/* @media (min-width:400px) and (max-width:699px){
    .item{
        width: 70%;
        height: 45%;
        background: gray;
        margin-left: 1%;
        margin-top: 1%;
    }
}  */


.box{
    width: 50px;
    height: 100px;
    border-radius: 40%;
    margin: 100px auto;
    border: 2px solid black;
    position: relative;
}

.pointer{
    position: absolute;
    bottom: 70%;
    left: 30%;
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    animation-name: animate;
    animation-iteration-count: infinite;
    /* animation-timing-function: 1s; */
    animation-duration: 1.5s;
}


@keyframes animate {
    from { bottom: 70%; opacity: 1; }
    to {  bottom: 20%; opacity: 0; }
}